.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.App-header {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
